version: 2.1

orbs:
  ssh-deployment: singularitynet/ssh-deployment@2.4.1

jobs:
  super-resolution:
    docker:
      - image: circleci/python:3.6.6-node
    steps:
      - checkout
      - ssh-deployment/deploy:
          ssh-host: ${SSH_HOST}
          ssh-user: ${SSH_USER}
          mainnet-port: "7009"
          testnet-port: "6309"
          run-command: "python3 run_service.py --ssl"
          docker-test-files: "Dockerfile, requirements.txt"
          docker-file-path: "Dockerfile"
          docker-no-cache: true
          docker-image: "super_resolution"
          docker-container: "SUPER_RESOLUTION"
          docker-nvidia: true
          docker-volumes: "-v ~/singnet/.certs:/opt/singnet/.certs"
          daemon-version: ${CI_SNETD_VERSION}
          daemon-pk: ${PK_SUPER_RESOLUTION}
  testing:
    docker:
      - image: circleci/python:3.6.6-node
    steps:
      - ssh-deployment/test:
          ssh-host: ${SSH_HOST}
          ssh-user: ${SSH_USER}
          test-command: "sleep 10;python3 test_service.py"
          docker-container: "SUPER_RESOLUTION"

workflows:
  build_deploy_service:
    jobs:
      - super-resolution
      - testing:
          requires:
            - super-resolution